[Unit]
Description=USB Gadget
After=systemd-udevd.service
Wants=systemd-udevd.service

[Service]
Type=oneshot
ExecStartPre=modprobe -r g_mass_storage
ExecStart=modprobe g_mass_storage file=/gadget.img removable=1 stall=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
